.flexBoard{
    display: flex;
    flex-wrap: wrap;
}

.flexChild{
  flex: 1 0 25%;
  margin: 5px;
  height: 60%;
  border-radius: 15px;
  border: solid 2px purple;
  background: linear-gradient(-10deg,#bc2a8d, #6c83df, #fbad50,  #e95950);
}

.congrats{
    font-size: 18px;
    font-weight: bold;
    color: lightseagreen;
}

.cardFlipped{
    background: linear-gradient(to right, yellow,#fbad50);
}

.cardMatched{
    background: linear-gradient(to right, greenyellow,green);
}

.mainGame{
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}