.App {
  text-align: center;
}

.App-logo {
  display: inline-block !important;
  margin-right: 10px;

}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.bodyContainer{
  margin: 80px 20px 20px 20px;
  padding-bottom: 80px;
  
}

h1, h2{
  color: maroon !important;
  font-weight: bolder;
}

.leftAlign{
  text-align: left;
}

.homeJumbotron{
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-radius: 25px;
}

.headerBar{
  height: 66px;
}

.headerBar  a{
  color: white;
}

.navbar-collapse .collapse .in > ul > li, headerBar, .nav-item, .navbar-header, nav {
  background: black !important;
}

.buttons{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.result{
  font-size: 25px;
  font-weight: bold;
  color: teal;
  font-style: italic;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  background: black;
  color: white;
  padding-bottom: 10px;
  padding-top: 10px;
  height: 50px;
}

.navbar-collapse{
  overflow: hidden;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media screen and (max-width: 440px) {
  .images{
    width: 50px !important;
    height: 50px !important;
  }
}